# Variables

- variable term vary
- you want to save some values at some place, tht place is called variables
- variables and constant

In [2]:
number=100 #100 values is stored in variable called number
print(number)  #so here number is a variable

100

In [4]:
number=200
print(number)

200

In [ ]:
#so here first number has 100
# second has 200
# number is changing its value
# thats why we are calling number as variable

# Rules to define variables

In [7]:
# Upper Case
NUMBER=300
NUMBER

300

In [9]:
# lower Case
number=400
number

400

In [11]:
# Combination of upper case and lower case
NUMber=500
NUMber

500

In [15]:
# combination of letters and numbers, numbers as suffix #suffix means at the end
num123=600
num123

600

In [17]:
# combination of letters and numbers, numbers as prefix
123num=700
123num

SyntaxError: invalid decimal literal (1591467205.py, line 2)

In [19]:
# special characters
number%=800
number%

SyntaxError: invalid syntax (2777743871.py, line 3)

In [21]:
# underscore 
number_=900
number_

900

In [23]:
# keywords
if=500
if

SyntaxError: invalid syntax (163203028.py, line 2)

there are 35 keywords available we have seen the list of keywords in last lecture.

In [27]:
sum=700
sum

700

**Note**:
    sum is a math operation it will works
    but do not use as variable. it will confuse python sometime.

In [30]:
# spaces will not allowed
num one=100
num one

SyntaxError: invalid syntax (3644189462.py, line 2)

In [32]:
num_one=100
num_one

100

In [34]:
_=200
_

200

################################## Python Basics Level-1 ###################################
1) Basic Syntax
2) variables
3) python packages information
4) basic python code
5) conditinal statements
6) functions
7) loop

############################## Level -2 #########################################
1) strings
2) list
3) dicitionary
4) tuples ============ write up
5) sets
6) file handling sessions

===================== 2 weeks gap ================= statistics theory

EDA: python

######################### level -3 ########################################
1) OOPS concept in python
2) how to create your own packages
3) FLASK APPS