## 1) Type Casting Revision.
#### Practicing questions for changing data types

In [2]:
s="123"
i=int(s)
i

123

In [13]:
f=45.67
i=int(f)
i

45

In [14]:
b=True
i=int(b)
i

1

In [10]:
c=4+3j
cc=int(c)
print(cc)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [15]:
s="10.5"
i=int(s)
i

ValueError: invalid literal for int() with base 10: '10.5'

In [16]:
i=56
f=float(i)
f

56.0

In [17]:
s="78.9"
f=float(s)
f

78.9

In [18]:
b=False
f=float(b)
b

False

In [19]:
s="abcd"
f=float(s)
f

ValueError: could not convert string to float: 'abcd'

In [20]:
c=3+4j
f=float(c)
f

TypeError: float() argument must be a string or a real number, not 'complex'

In [22]:
i=0
b=bool(i)
b

False

In [23]:
f=0.0
b=bool(f)
b

False

In [24]:
s="False"
b=bool(s)
b

True

In [25]:
c=0+0j
b=bool(c)
b

False

In [26]:
i=12345
s=str(i)
s

'12345'

In [27]:
f=890.78
s=str(f)
s

'890.78'

In [28]:
b=True
s=str(b)
s

'True'

In [29]:
c=5+6j
s=str(c)
s

'(5+6j)'

In [30]:
l=[1,2,3]
s=str(l)
s

'[1, 2, 3]'

Convert the string "00123" to an integer. What happens to the leading zeros?
Convert the boolean expression (3 > 2) to an integer.
Convert the float 123.456 to an integer and then back to a float. What do you observe?
Convert the string " 456 " (with spaces) to an integer. Does Python handle the spaces?
Convert the string "-789" to an integer and then to a float. Compare the outputs.

In [31]:
s="00123"
i=int(s)
i

123

In [32]:
b=(3>2)
i=int(b)
i

1

In [33]:
ff=123.456
i=int(ff)
f=float(i)
f

123.0

In [34]:
s=" 456 "
i=int(s)
i

456

In [35]:
s="-789"
i=int(s)
print(i)
f=float(i)
print(f)

-789
-789.0

Convert the hexadecimal string "0x1A" to a float. What error do you encounter?
Convert the boolean expression (5 == 5) to a float.
Convert the integer 255 to a float and then to a hexadecimal string. What do you observe?
Convert the string "+12.34" to a float and then to an integer. What happens to the sign?
Convert the string "123e-2" to a float. What does this notation mean

In [36]:
s="0x1a"
f=float(s)
f

ValueError: could not convert string to float: '0x1a'

In [37]:
b=(5==5)
f=float(b)
f

1.0

In [38]:
s="+12.67"
f=float(s)
print(f)
i=int(f)
print(i)

12.67
12

In [39]:
s="123e-2"
f=float(s)
f

1.23

Convert the string "None" to a boolean. Is it True or False?
Convert the integer -1 to a boolean.
Convert the expression "" == False to a boolean. What does it return?
Convert the expression (4 > 5) or (10 < 20) to a boolean. Break down the steps.
Convert the string "0.0" to a boolean. Does it return False?

In [41]:
s="None"
b=bool(s)
b

True

In [42]:
i=-1
b=bool(i)
b

True

In [44]:
e="" == False
b=bool(e)
b

False

In [46]:
e=(4>5)or(10<20)
b=bool(e)
b

True

In [48]:
s="0.0"
b=bool(s)
b

True

Convert the integer -98765 to a string, then reverse the string. What is the result?
Convert the float 123.456789 to a string with only two decimal places. How do you do it?
Convert the boolean False to a string and concatenate it with " is a boolean".
Convert the complex number 7 + 8j to a string and extract the real part as a string.
Convert the list ["apple", "banana", "cherry"] to a single comma-separated string.

In [54]:
i=-98765
s=str(i)
r=(s[::-1])
r

'56789-'

In [62]:
ff=123.456789
s="{:.2f}".format(ff)
s

'123.46'

In [64]:
b=False
s=str(b)
c=s+ " is a boolean"
c

'False is a boolean'

In [65]:
c=7+8j
s=str(c.real)
s

'7.0'

In [69]:
ls=["apple","mango","banana"]
st=str(ls)
st

"['apple', 'mango', 'banana']"