### Lecture 1
#### Strings

In [ ]:
#strings
#list
#dictionary
#tuple
#set

**how to read the strings**

In [2]:
string1='python'  #single quote
string1

'python'

In [4]:
string2="python" # double quote
string2

'python'

In [ ]:
## Triple quotes aka doc string

# Doc string is used to say some information about your code

In [3]:
'''
im creating a hello world function
argument: None
return: None
'''
def hello():
    print("good morning")

In [1]:
complex()

0j

In [ ]:
'hello python' # I want to highlite the python code

In [6]:
string3='hello "python"'   #if you are using single quote then the text you need to highlite must be in double quotes. and you can do vise versa.
print(string3)

hello "python"

In [8]:
string4="hello 'python'"
print(string4)

hello 'python'

- You'll need to this below types of operations
    - type
    - len
    - max
    - min

$type:$

In [16]:
string1

'python'

In [18]:
type(string1)

str

$len:$

In [21]:
len(string1)

6

$max-min:$

In [30]:
string1='pP'
max(string1)  
# ASCII : American Standard Code Information Interchange.
# 'A' : 65  'a':97

'p'

$ord-chr$

In [32]:
ord('p')  # it will provide ascii value of character

112

In [34]:
ord('P')

80

In [38]:
string1='python'
max(string1),min(string1)

('y', 'h')

In [40]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [42]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

#### how can we implement loop on the string

- range is function related to mathematical operations. so if you try loop a string it will give you an error.

In [46]:
for i in range(len('python')):
    print(i)

0
1
2
3
4
5

In [ ]:
# i want ot print p y t h o n   <-- to print like that we need to use in operator

$in$

In [49]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

# i in string1           # <--- this we call genralised expression.. look at the above example we have streched it. but we can do it in this way.

True

In [51]:
for i in string1:   # this is the in operator implementation using for loop
    print(i)

'''
how to read the above code ?

ans- i means each and every letter inside the string1 that we are printing using loop.
'''

p
y
t
h
o
n

- range() : you need to provide number inside the range
- in      : is used only for strings
    - in operator is nothing but a condition you can use it anywhere with condition.
 
if you want to print the letters using for loop go for in operator

In [56]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [62]:
for i in string1:
    print('The ascii of value of {} is {}'.format(i,ord(i)))

The ascii of value of p is 112
The ascii of value of y is 121
The ascii of value of t is 116
The ascii of value of h is 104
The ascii of value of o is 111
The ascii of value of n is 110

In [66]:
# Ascii value of A to Z

st='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
for i in st:
    print('The ascii of value of {} is {}'.format(i,ord(i)))

The ascii of value of A is 65
The ascii of value of B is 66
The ascii of value of C is 67
The ascii of value of D is 68
The ascii of value of E is 69
The ascii of value of F is 70
The ascii of value of G is 71
The ascii of value of H is 72
The ascii of value of I is 73
The ascii of value of J is 74
The ascii of value of K is 75
The ascii of value of L is 76
The ascii of value of M is 77
The ascii of value of N is 78
The ascii of value of O is 79
The ascii of value of P is 80
The ascii of value of Q is 81
The ascii of value of R is 82
The ascii of value of S is 83
The ascii of value of T is 84
The ascii of value of U is 85
The ascii of value of V is 86
The ascii of value of W is 87
The ascii of value of X is 88
The ascii of value of Y is 89
The ascii of value of Z is 90

In [ ]:
# package_name: string
import string

In [78]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [72]:
# see the output of : ascii_uppercase
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [76]:
import string
for i in string.ascii_uppercase:
    print('The ascii of value of {} is {}'.format(i,ord(i)))

The ascii of value of A is 65
The ascii of value of B is 66
The ascii of value of C is 67
The ascii of value of D is 68
The ascii of value of E is 69
The ascii of value of F is 70
The ascii of value of G is 71
The ascii of value of H is 72
The ascii of value of I is 73
The ascii of value of J is 74
The ascii of value of K is 75
The ascii of value of L is 76
The ascii of value of M is 77
The ascii of value of N is 78
The ascii of value of O is 79
The ascii of value of P is 80
The ascii of value of Q is 81
The ascii of value of R is 82
The ascii of value of S is 83
The ascii of value of T is 84
The ascii of value of U is 85
The ascii of value of V is 86
The ascii of value of W is 87
The ascii of value of X is 88
The ascii of value of Y is 89
The ascii of value of Z is 90

In [80]:
for i in string.ascii_lowercase:
    print('The ascii of value of {} is {}'.format(i,ord(i)))

The ascii of value of a is 97
The ascii of value of b is 98
The ascii of value of c is 99
The ascii of value of d is 100
The ascii of value of e is 101
The ascii of value of f is 102
The ascii of value of g is 103
The ascii of value of h is 104
The ascii of value of i is 105
The ascii of value of j is 106
The ascii of value of k is 107
The ascii of value of l is 108
The ascii of value of m is 109
The ascii of value of n is 110
The ascii of value of o is 111
The ascii of value of p is 112
The ascii of value of q is 113
The ascii of value of r is 114
The ascii of value of s is 115
The ascii of value of t is 116
The ascii of value of u is 117
The ascii of value of v is 118
The ascii of value of w is 119
The ascii of value of x is 120
The ascii of value of y is 121
The ascii of value of z is 122

In [82]:
for i in string.punctuation:
    print('The ascii of value of {} is {}'.format(i,ord(i)))

The ascii of value of ! is 33
The ascii of value of " is 34
The ascii of value of # is 35
The ascii of value of $ is 36
The ascii of value of % is 37
The ascii of value of & is 38
The ascii of value of ' is 39
The ascii of value of ( is 40
The ascii of value of ) is 41
The ascii of value of * is 42
The ascii of value of + is 43
The ascii of value of , is 44
The ascii of value of - is 45
The ascii of value of . is 46
The ascii of value of / is 47
The ascii of value of : is 58
The ascii of value of ; is 59
The ascii of value of < is 60
The ascii of value of = is 61
The ascii of value of > is 62
The ascii of value of ? is 63
The ascii of value of @ is 64
The ascii of value of [ is 91
The ascii of value of \ is 92
The ascii of value of ] is 93
The ascii of value of ^ is 94
The ascii of value of _ is 95
The ascii of value of ` is 96
The ascii of value of { is 123
The ascii of value of | is 124
The ascii of value of } is 125
The ascii of value of ~ is 126

In [84]:
# what is the start and end of ascii numbers ?

ord('a')

97

In [86]:
chr(1000)

'Ϩ'

In [96]:
#chr(1)  # iterate some numbers to find the chr. then if you find see valid thing then that's the starting point.

for i in range(33,127):
    print(i,chr(i))

# ascii number start with 33
# end with 126
# total 93

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~

In [100]:
string.printable

# digits
# lower
# upper
# puncutation
# these are only for english language

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

### Interview IMP Question.
#### Example : Count how many 'a' is there in given string ?
##### whenever you want to count something always initialize count=0 first.. then at the last of your code write count+=1
##### this is the way to count things.. and it's very important for interview purpose. so remeber the wrapper/format.

In [123]:
# wap ask the user find number of 'a' letters in a given string
# string='hai how are you and how do you do'
# ans:3

# count=0
# first iterate the string using in and for loop
# print each letter === > i
# apply the if condition i=='a'
#               count+=1

st='hai how are you and how do you do'
count=0
for i in st:
    #print(i)
    if i=='a':
        count+=1
print(count)

#step-1:  i='h'  'h'=='a'  False
#step-2:  i='a'  'a'=='a'  True  ====> count=1

3

In [141]:
# wap count the number of vowels in a given string
# string='hai how are you'
# 7

count=0
string='hai how are you'
for i in string:
    if i in 'aeiou':     # this line of code will check. if there is h in aeiou, if a is in aeiou.. like that.
        count+=1
print(count)

7

In [159]:
# wap count the number of unique vowels in a given string
# ans: 5
# this is the type of question interviewer asks.

s=''
count=0
string='hai how are you'
for i in string:
    if i in 'aeiou' and i not in s:
        s+=i
        count=(len(s))
print(count)

5

$concatenation$

In [162]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [176]:
str1-str2    # unsupported operand type(s) for -: 'str' and 'str'
#str1*str2    # can't multiply sequence by non-int of type 'str'
#str1/str2    # unsupported operand type(s) for /: 'str' and 'str'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [178]:
# can't multiply sequence by non-int of type 'str'

3*str1        #multiplication will works with str.. but you need to implement it this way.

'haihaihai'

In [ ]:
- how to read
- single/double/triple quote
- type
- len
- in (how to iterate through for loop)
- max
- min
- concatenation

$index$

In [181]:
str1='python'  # 6 letters

In [ ]:
p  y  t  h  o  n
0  1  2  3  4  5

In [191]:
str1[0],str1[1],str1[2],str1[3],str1[4],str1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [193]:
for i in range(5):
    print(str1[i])

# i=0 ===== str1[0] ==== 'p'
# i=1 ====- str1[1] ==== 'y'

# i ===== will give index
# string[i] ==== letters

p
y
t
h
o

In [195]:
string1='python'

# i want to print letters using in operator
# i want to print letters using range operator

for i in string1:
    print(i)

for i in range(len(string1)):
    print(string1[i])

p
y
t
h
o
n
p
y
t
h
o
n

In [1]:
# if you want print only letter : in
# if you want print index: range
# if you want print index as well as letter: range

### Lecture 2
#### String

- what we have learned till now.
    - how to read strings
    - doc string
    - type/len/max/min
    - concatenation
    - index

In [7]:
string1='python'

# i want to print the letters using for loop
#

In [27]:
#for i in string1:   # i means each letter
   # print(i,end=' ')

for i in range(len(string1)):  # i means numbers from 0
    print('the index of {} is {} '.format(string1[i],i))

# if you want to get the letters using index operator. so above is method to do it.

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [11]:
string1[1]

'y'

In [ ]:
-6 -5 -4 -3 -2 -1  === negative indexing
p  y  t  h  o  n
0  1  2  3  4  5  === positive indexing

In [35]:
# iterate the for loop on string1
# print the letters using negative index
# the idea is first you need to print the numbers btw -6 to -1 using for loop

string1='python python'
for i in range(-len(string1),0):
    print('the negative index of {} is {}'.format(string1[i],i))

the negative index of p is -13
the negative index of y is -12
the negative index of t is -11
the negative index of h is -10
the negative index of o is -9
the negative index of n is -8
the negative index of   is -7
the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [37]:
#in how many ways you can get -6 to -1 ?

#for i in range(-6,0): print(i,end=' ')

for i in range(0,6): print(i-6,end=' ')   # 0 ----------  -6  i-6
                                          # 1 ----------  -5

-6 -5 -4 -3 -2 -1

In [55]:
string1='python'
for i in range(len(string1)):
    print('the positive index is {} and negative index is {} of letter {}'.format(i,string1[i],i-6))

the positive index is 0 and negative index is p of letter -6
the positive index is 1 and negative index is y of letter -5
the positive index is 2 and negative index is t of letter -4
the positive index is 3 and negative index is h of letter -3
the positive index is 4 and negative index is o of letter -2
the positive index is 5 and negative index is n of letter -1

In [61]:
for i in range(-len(string1),0):
    print('the positive index of {} is {}'.format(string1[i],i+6))

for i in range(-len(string1),0):
    print('the negative index of {} is {}'.format(string1[i],i))

for i in range(-len(string1),0):
    print('the positive index is {} and negative index is {} of letter {}'.format(i+6,string1[i],i))

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5
the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1
the positive index is 0 and negative index is p of letter -6
the positive index is 1 and negative index is y of letter -5
the positive index is 2 and negative index is t of letter -4
the positive index is 3 and negative index is h of letter -3
the positive index is 4 and negative index is o of letter -2
the positive index is 5 and negative index is n of letter -1

In [71]:
i=0
while i<(len(string1)):
    print('the positive index of {} is {}'.format(string1[i],i))
    i+=1

i=0
while i<(len(string1)):
    print('the positive index of {} is {}'.format(string1[i],i-6))
    i+=1

i=0
while i<(len(string1)):
    print('the positive index is {} and negative index is {} of letter {}'.format(i-6,i,string1[i]))
    i+=1

the positive index of p is 0
the positive index of y is 1
the positive index of t is 2
the positive index of h is 3
the positive index of o is 4
the positive index of n is 5
the positive index of p is -6
the positive index of y is -5
the positive index of t is -4
the positive index of h is -3
the positive index of o is -2
the positive index of n is -1
the positive index is -6 and negative index is 0 of letter p
the positive index is -5 and negative index is 1 of letter y
the positive index is -4 and negative index is 2 of letter t
the positive index is -3 and negative index is 3 of letter h
the positive index is -2 and negative index is 4 of letter o
the positive index is -1 and negative index is 5 of letter n

In [79]:
string1='hai how are you'
count=0
for i in range(len(string1)):
    if string1[i]=='a':
        count+=1
print(count)

2

**Mutable and Immutable concept**

mutable ==== we can change

immutable ==== we can not change the value by using index operations

**strings are immutable**

In [87]:
string1='python'
# i want to change 'p' === 'P'
# o/p: 'Python'
string1[0]='P'

# that means string is immutable. because we cannot change the values using index operations.

TypeError: 'str' object does not support item assignment

$slice$

In [1]:
list1=[100,200,300] # 100 ==== 1000
list1[0]=1000
list1

[1000, 200, 300]

In [ ]:
h  a  i     h  o  w     a  r  e       y   o  u
0  1  2  3  4  5  6  7  8  9  10  11 12  13 14

In [1]:
string1='hai how are you'
string1[2:11]
# start=2
# stop=10-1=9
# postive

'i how are'

In [92]:
string1='hai how are you'
string1[2:10:3]
# start=2
# dire=+  step=3
# stop=10-1=9
# 2  5  8

'ioa'

In [94]:
string1[:]

# nothing mentioned means take start and last letter

'hai how are you'

In [96]:
string1[::]
# start= 0
# stop= last letter len(string1)
# step= +1

'hai how are you'

In [9]:
string1='hai how are you'
string1[2:10]
string1[2:10:3]
string1[:]
string1[::]

'hai how are you'

In [11]:
string1[2:10:-3]  #Nothing will print here but no error

''

In [13]:
for i in range(2,10,-3):print(i)

In [15]:
len(string1)

15

In [ ]:
-15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
h     a    i          h   o   w        a   r   e       y   o  u
0     1    2    3     4   5   6    7   8   9  10  11   12  13 14

In [17]:
string1[8:-15:-2]  # start=8  stop =-15+1=-14  step=2

'awhi'

In [21]:
string1[2:-14:-2]   # empty   i 

# start=2
# stop=-14+1=-13
# 
# ' '

'i'

In [ ]:
string1[2:14:2] ## P
string1[2:14:-2] # Np
string1[2:-14:2] # np
string1[2:-14:-2] # 
string1[-2:14:2] # p
string1[-2:-14:2] # np
string1[-2:-14:-2] # p

**So far what we have learned in Strings**

- reading mehtods
- single/double/triple(doc string)
- type
- len
- max
- min
- concatenation
  - subtraction/multiplication/division.
- in
- index
- mutable/immutable
- slice

**String Methods**

In [ ]:
import <package_name>
dir(<package_name>)
help(<package_name>.<method_name>)

In [29]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$capatalize$

In [32]:
st1='welcome'
help(st1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [34]:
st1.capitalize()

'Welcome'

$upper$

In [39]:
st2='thankyou'
help(st2.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [41]:
st2.upper()

'THANKYOU'

$lower$

In [44]:
st3='WeLcOme'
print(st3.capitalize())
print(st3.upper())
print(st3.lower())

Welcome
WELCOME
welcome

**Remember**
- methods are dumb it's very easier but reduces your thinking power.
- and your logic will be gone. so try to use minimum as possible the strings methods.

In [47]:
# Example
string1='hai how are you'
# count how many 'a' s are there

In [51]:
string1.count('a')  #earlier we did this type of question with using loops and if else concept but here we did it in one line. and it's dangerous.

2

In [55]:
count=0
for i in string1:
    if i=='a':
        count+=1
print(count)

# the above count method is nothing but a python code just like this created by someone else.

2

In [79]:
st1='welcome'
s2=st1[2]  # this is my method i used here a string method. but i have to create it without using any str method.
s=s2.upper()
s3=st1[:2]
s4=st1[3:]
s5=s3+s+s4
print(s5)

weLcome

In [83]:
str1='thankyou'
# output: 'thanKyou'
str2=str1[:4]
str3=str1[5:]
str4=str2+'K'+str3
print(str4)

thanKyou

In [85]:
# there is one more bakwas operator is there

str1.replace('k','K')

'thanKyou'

##### omkar sir says: if you want to be a good developer then you need to be perfect till while loop.

## Lecture 3
#### Strings

**casefold**

In [92]:
str1='WelCome'
help(str1.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [94]:
str1.casefold()  # casefold works like a lowercase. lowercase and casefold works same.

'welcome'

- capaitalize: first letter as capital
- upper : ALL letters are in upper case
- lower : All letters are in lower case
- casefold : case less comparision( all lower case )

$Count$

In [98]:
st1='hai how are you'
# how many 'h' s are there
st1.count('h')

2

In [100]:
st1.count('hai')  #we can count not only single letters we can count multiple letters/words also.

1

In [102]:
st1='ola ola ola'
st1.count('ola')

3

In [106]:
print(st1.count('ola ')) #3
print(st1.count('ol'))  #2
print(st1.count('oa'))  # check 'o' after 'a' is there ?

2
3
0

In [120]:
st1='ola ola ola'
# ola   ola    ola
# 012 3 456 7 8910
# we are counting the number of 'a' from index 4

print(st1.count('a',4))
print(st1.count('a',6))
print(st1.count('a',4,6))  # 4 and 5
print(st1.count('a',4,7))  # 4 5 6
print(st1.count('A',4))    # 0
print(st1.count('A'.lower(),4))      # 'A' is here a string with a method so it will works
print(st1.count('a'.upper(),4,7))

2
2
0
1
0
2
0

In [126]:
st1='ola ola ola'
count=0
for i in st1:
    if i=='a':
        count+=1
print(count)

3

In [134]:
# how many 'ola' are there
# do till now what we are completed use that only except count method.

str1='ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count+=1
print(count)

3

In [ ]:
# in Interview you'll be asked this below method without using method.
str1.count('ola') #as developer mode

**always focus on thing how can i become a good developer. if you become a good dev then data scientist is very easy**

**always think like that programming language is reduced your manual efford. how you are reducing my efford.**

$replace$

In [141]:
str1='restart'
# replace 't' with 'T'
str1.replace('t','TT')

'resTTarTT'

In [151]:
str1='restart'
str1.replace('r','$',1)  # 1 here means you need to change only one occurance.

# if you dont understood it then take help().
# help(str1.replace)
# -1 means all the occurances will change.

'$estart'

In [177]:
str1='restart'
str2=str1[:5]
str3=str1[6:]
str4=str2+'$'+str3
print(str4)

resta$t

In [181]:
s1=str1[0]
s2=str1[1:].replace('r','$')
s1+s2

'resta$t'

In [183]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

$index$

In [190]:
str1='welcome python'
str1.index('c')
#help(str1.index)

3

In [192]:
str1.index('z')  # sub string not found

ValueError: substring not found

In [194]:
str2='hai how are you and'
# how many 'a' s are there
# what are the indexes of 'a'
count=0
for i in str2:
    if i=='a':
        count+=1
print(count)

str2.count('a')

3

3

In [196]:
for i in range(len(str2)):
    if str2[i]=='a':
        print(i)

1
8
16

In [198]:
string1='hai hai hai hai hai'
i1=string1.index('a') # 1
i2=string1.index('a',i1+1) 
i3=string1.index('a',i2+1) 
i4=string1.index('a',i3+1) 
i5=string1.index('a',i4+1)
print(i1,i2,i3,i4,i5)

1 5 9 13 17

In [200]:
string1.index('a',string1.index('a')+1)

5

In [202]:
string1.index('a',string1.index('a',string1.index('a',string1.index('a')+1)+1)+1)+1
#string1.index('a',string1.index('a',string1.index('a')+1)+1)+1
string1.index('a',string1.index('a',string1.index('a',string1.index('a',string1.index('a')+1)+1)+1)+1)

17

In [204]:
string1='hai hai hai hai hai'
# i want to first occurence of 'a'
i1=string1.index('a')
# second occurence of 'a'
i2=string1.index('a',i1+1) # 5
string1.index('a',i2+1)

string1.index('a',string1.index('a')+1)
string1.index('a',string1.index('a',string1.index('a')+1)+1)

9

In [206]:
string1='welcome helo hello'
string1.index('l')
string1.index('l',string1.index('l')+1)
string1.index('l',string1.index('l',string1.index('l')+1)+1)
#string1.index('l',string1.index('l',string1.index('l')+1)+1)

15

$find$

In [209]:
# take one string1
# string1.find()   
# apply shift+tab
# read waht it is says
# implement that

str1='hanuman'
str1.find('a')

1

In [211]:
string1='hai hai'
string1.find('z')  # No error
# if substring not found it returns -1

string1.index('z')
# ValueError: substring not found

string1.count('z')  # No error
# returns zero

ValueError: substring not found

**you have to learn like this below**
- capitalize/upper/lower/casefold
- index/find
- count
- replace

$strip$-$lstrip$-$rstrip$

In [2]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "

# I want remove the spaces
# If you want to remove the spaces both side use strip method
# If you want to remove the spaces only left side then use lstrip: left strip
# If you want to remove the spaces only right side then use rstrip: Right strip

In [4]:
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

hello how are you
hello how are you
 hello how are you

In [6]:
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())

hello how are you
hello how are you
hello how are you

In [8]:
print(str3)

hello how are you

In [10]:
str3

'hello how are you '

In [5]:
#Wap to extract

#str1='python.anaconda@nareshit.com'
#str2='omkar.nallagoni@cognizant.com'
#str3='virat.kohli@bcci.com'

# Extract first name: python
# Extract second name: anaconda
# Extract company name: nareshit

# Do not count it
# Use methods find/index

str1 = 'dnyaneshwar.rokade@wipro.com'

first_dot = str1.index('.')
print(first_dot)

second_dot = str1.index('.', first_dot+1)
print(second_dot)

at_symbol = str1.index('@')
print(at_symbol)

print( '-' * 50 )

print ( "First Name : ", str1 [ : first_dot ] )
print ( "Second Name : ", str1 [ first_dot+1 : at_symbol ] )
print ( "Compnay Name : ", str1 [ at_symbol+1 : second_dot ] )

11
24
18
--------------------------------------------------
First Name :  dnyaneshwar
Second Name :  rokade
Compnay Name :  wipro

In [14]:
str1[0:6],str1[7:15],str1[16:24]
str1.find('.')

6

In [16]:
str1[0:str1.find('.')]

str1[7:15]

'anaconda'

In [18]:
str1 ='omkar.nallagoni@cognizant.com'
print("First Name:",str1[:str1.find('.')])
print("Second Name:",str1[str1.find('.')+1:str1.find('@')])
print("Second Name:",str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)])

First Name: omkar
Second Name: nallagoni
Second Name: cognizant

In [20]:
str1='omkar.nallagoni@cognizant.com'
num1=str1.find('.')
f_name=str1[:num1]
print(f_name)
num2=str1.find('@')
s_name=str1[num1+1:num2]
print(s_name)
num3=str1.find('.',str1.find('.')+1)
c_name=str1[num2+1:num3]
print(c_name)

omkar
nallagoni
cognizant

In [22]:
str1='a.b@c.com'
first_dot=str1.index('.')

second_dot=str1.index('.',first_dot+1) # after completion of first dot

str1[str1.find('@')+1:second_dot]

'c'

In [24]:
str1='3.1489'
# Extract 3
# Extract 1489

str1[str1.index('.')-1]
str1[str1.index('.')+1:]  # str1[<first>:<last>]

'1489'

In [26]:
str1.index('.')+1

2