### LIST

##### Lecture-1

- list is nothing but a 'array of elements'.

- list name is a keyword so give another name to your list

In [4]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [6]:
list2=['A','B','C']  #you can write strings in list
list2

['A', 'B', 'C']

In [8]:
list3=['A','B','C',1,2,3]
list3

['A', 'B', 'C', 1, 2, 3]

In [14]:
list4=[1,'Apple',10.5,(10+20j),True]
list4

[1, 'Apple', 10.5, (10+20j), True]

In [17]:
list5=[100,100,100]
list5

[100, 100, 100]

In [20]:
list6=['apple',[1,2,3]]
list6

['apple', [1, 2, 3]]

**list statements can be in any data types**

- list is an array of elements
- list elements are heterogeneous(different) data types are allowed
- duplicates are allowed
- list in list also works

$type$

In [24]:
print(max(list1))

4

In [31]:
print(max(list2))   # c ====> ascii value by ord

C

In [28]:
print(max(list3))

TypeError: '>' not supported between instances of 'int' and 'str'

$min$

In [34]:
print(min(list1))
print(min(list2))
print(min(list3))

1
A

TypeError: '<' not supported between instances of 'int' and 'str'

$len$

In [39]:
# len will give you how many elements are present in list
print(len(list1))
print(len(list2))
print(len(list3))

4
3
6

$sum$

In [44]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

In [46]:
print(list2)
print(sum(list2))

['A', 'B', 'C']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- sum
- eval
- range

**this above all are mathematical category**

$in$

In [52]:
list1=[1,2,3,4]

In [56]:
1 in list1
2 in list1
3 in list1
4 in list1

5 in list1

# can i iterate through for loop ?
# see what are the common things in this list. and write that as it is. and take changing value as generalised expression.

False

In [58]:
for i in list1:
    print(i)

1
2
3
4

$Concatenation$

In [66]:
print(list1+list2)  # if you want to save this output.. you need to save it in a new variable.
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C']
['A', 'B', 'C', 1, 2, 3, 4]

In [68]:
new_lst=list1+list2
new_lst

[1, 2, 3, 4, 'A', 'B', 'C']

In [72]:
list1*3  # list1+list1+list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [74]:
list1-list2
list1*list2
list1/list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

$Index$

In [77]:
list3

['A', 'B', 'C', 1, 2, 3]

In [85]:
# python index start with zero
list3[0],list3[1],list3[2]

# list3=[i]
# i=0 1 2 3

('A', 'B', 'C')

In [87]:
for i in range(len(list3)):
    print(i,list3[i])

0 A
1 B
2 C
3 1
4 2
5 3

In [93]:
list3[-1]

# -6 -5 -4 -3 -2 -1
#  A  B  C  1  2  3
#  0  1  2  3  4  5

3

In [97]:
for i in range(len(list3)):
    print('positive index is: {} and negative index is {} for an element {}'.format(i,i-len(list3),list3[i]))

positive index is: 0 and negative index is -6 for an element A
positive index is: 1 and negative index is -5 for an element B
positive index is: 2 and negative index is -4 for an element C
positive index is: 3 and negative index is -3 for an element 1
positive index is: 4 and negative index is -2 for an element 2
positive index is: 5 and negative index is -1 for an element 3

In [107]:
# wap find the elements which are having len<3

# step1: iterate the list using for loop
# step2: apply the if condition len(<element>)<3:
# step3:     print(element)

lst=['apple','ball','cat','ab','cd','ef']

for i in range(len(lst)):   # here i become number.. remember it. it is very important.... when you use 'range' operator i becomes number. 
    if len(lst[i])<3:
        print(lst[i])

for i in lst:           # now here i become an element... when you use 'in' operator i becomes element.
    if len(i)<3:
        print(i)

ab
cd
ef
ab
cd
ef

In [117]:
# wap find the elements which are having #

lst=['app#e','b#ll','c#t','ab','cd','ef']

for i in lst:
    if '#' in i:        # <--- this is a new method...... '#' in 'app#e'.
        print(i)

app#e
b#ll
c#t

In [119]:
lst=['app#e','b#ll','c#t','ab','cd','ef']
count=0
for i in lst:
    if '#' in i:        # <--- this is a new method...... '#' in 'app#e'.
        #print(i)
        count+=1
print(count)

3

In [141]:
lst1=[1,2,3,['Apple','Ball']]  # there are 4 elements in this nested list.. 1 2 3 is an element and other entire list an element.

# retrive the ball using index
lst1[3][1]

'Ball'

In [155]:
lst2=[[[[[[['Cherry']]]]]]]

lst2[0][0][0][0][0][0][0]

'Cherry'

In [161]:
lst3=[[[['a','b',[[[1,2,3,['Car']]]]]]]]

lst3[0][0][0][2][0][0][3][0]

# Retrive the car

'Car'

$Mutable$

In [168]:
ls=[1,10,20]
ls[1]=10000
ls

[1, 10000, 20]

In [170]:
list1=[10,20,30,40,50,'P','Y','T','H','O','N','a','b','c','D']

print(list1[2:14:3])   # p 
print(list1[2:14:-3])  # np
print(list1[2:-14:3])  # np
print(list1[2:-14:-3]) # p
print(list1[-2:14:3])  # p
print(list1[-2:-14:3])  # np
print(list1[-2:-14:-3])  # p
print(list1[-2:14:-3])  # np

[30, 'P', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

- Reading a list

- Different ways to provide elements

- type/min/max/sum/len

- in

- concatenation

- index

- mutable

- slice

### List Methods

In [173]:
dir([])   # to see methods of list provide a empty list in dir(<[]>).

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear$-$copy$

In [186]:
lst1=[1,2,3,4]

# i want to copy these elements in a list2

list7=lst1.copy()   # shallow's normal meaning is copy all things present in a list
list7

lst1.clear()

print('list1:',lst1)
print('list2:',list7)

list1: []
list2: [1, 2, 3, 4]

$append$

In [4]:
# add (something) to end of a written document.

list1=[1000,2000]

# [1000,2000,3000]

list1.append(3000)
list1

[1000, 2000, 3000]

In [26]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [28]:
# can we add two values at a time in list using append ?

list1.append(10,20)  # no we can't add like that.. append method takes only one argument.

TypeError: list.append() takes exactly one argument (2 given)

In [30]:
list1.append([10,20])  # if give argument like this.. this will be treated as list. and it'll work as nested list.
list1

[100, 200, 300, [10, 20]]

In [32]:
list1.append('mango')
list1

[100, 200, 300, [10, 20], 'mango']

#### This Below Method will be used in **Real time projects** most of time.

In [36]:
# input list=[1,2,3,4,5]
# create a new list=[1,4,9,16,25]

# write normal python code
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

# i dont want print the values, i want save the output in a list.

1
4
9
16
25

In [40]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)     # try to remember this method.. it will mostly be used in real time projetcs

print(output)

[1, 4, 9, 16, 25]

In [102]:
list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']

output2=[]
for i in list2:
    store=i.capitalize()
    output2.append(store)
print(output2)

['Hyd', 'Bengaluru', 'Delhi']

In [106]:
list2=['hyd','bengaluru','delhi']   # sir's method.
output=[]
for i in list2:
    output.append(i.capitalize())

print(output)

['Hyd', 'Bengaluru', 'Delhi']

In [116]:
list2=['h#d','beng#luru','delhi']

# output=['h#d','beng#luru']
output=[]
for i in list2:
    if '#' in i:
        #print(i)
        output.append(i)

output

['h#d', 'beng#luru']

**list comprehension**

In [119]:
# (list comprehension means) code in single line ===== > speed up the process
list1=[1,2,3,4,5]

output=[]
for i in list1:
    output.append(i*i)
output

# what you have done in above code.
# step-1: initialize the list --> output=[]
# step-2: iterate the loop
# step-3: you saved the output

# in list comprehension you have no need of step1 and step3 lines.

output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

**Format for list comprehension**

In [127]:
# [<output> <for loop>]

In [140]:
list2=['h#d','beng#luru','delhi']
'''
# output=['h#d','beng#luru']
output=[]
for i in list2:
    if '#' in i:
        #print(i)
        output.append(i)
'''
output3=[i for i in list2 if '#' in i]
output3

['h#d', 'beng#luru']

In [142]:
list2=['hyd','bengaluru','delhi']   # sir's method.
'''
output=[]
for i in list2:
    output.append(i.capitalize())
'''
output4=[i.capitalize() for i in list2]
output4

['Hyd', 'Bengaluru', 'Delhi']

In [146]:
# create the list of 20 numbers form 1 to 20

############ Method-1 #############
'''
for i in range(1,21):
    print(i)
'''
########### Method-2 ############
'''
numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers
'''
############ Method-3 ###########
ls=[i for i in range(1,21)]
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# list comprehension with if condition

In [150]:
list2=['h#d','beng#luru','delhi']

'''
output=[]
for i in list2:
    if '#' in i:
        #print(i)
        output.append(i)
'''
# [<o/p> <forloop> <if_condition>]

output3=[i for i in list2 if '#' in i]
output3

['h#d', 'beng#luru']

In [162]:
lst=['abcd','abc','ac','a']

# elements less than 3
'''
for i in lst:
    if len(i)<3:
        print(i)
'''
op=[i for i in lst if len(i)<3]
op

['ac', 'a']

In [168]:
lst2=[1,2,3,4,5,6]

output=[]
for i in lst2:
    if i%2==0:
        output.append('even: {}'.format(i))
    else:
        output.append('odd: {}'.format(i))
output

['odd: 1', 'even: 2', 'odd: 3', 'even: 4', 'odd: 5', 'even: 6']

In [170]:
#[<if_output> <if_condition> else <else_output> <for loop>]


output1=['even: {}'.format(i) if i%2==0 else 'odd: {}'.format(i) for i in lst2]
output1

['odd: 1', 'even: 2', 'odd: 3', 'even: 4', 'odd: 5', 'even: 6']

**count**

In [25]:
ls=[1,2,3,'A','B','C','D','B','B','D','D','D','C']
ls.count('D')     #count(self, value, /) unbound builtins.list method.. Return number of occurrences of value.

#help(list.count)

4

In [31]:
count=0
for i in ls:          # <----- this is developer mode.. try to do question like this.
    if i=='D':
        count+=1
print(count)

4

**Extend**

In [36]:
ls1=[1,2,3]
ls2=['a','b','c']

# help(list.extend)

ls2.extend(ls1)    # <------- means extending your list.
print(ls2)

# here the ls2 will be updated with ls1 values.

# Normal English Meaning of iterable ? 
# while using for loop what you can print that data type is a iterable data type..
# you can print each and every element while using for loop.

['a', 'b', 'c', 1, 2, 3]

In [40]:
ls1=[1,2,3]
ls2=['a','b','c']
ls1=ls1+ls2

print(ls1)          # you need explore questions like this.

[1, 2, 3, 'a', 'b', 'c']

**append** vs **extend** vs **concat**

- append will add the element at last, that element can by any type.
  - list1=[1,2,3]
  - list2=['a','b']
  - list1.append(list2)=[1,2,3,['a','b']]


- extend will update the list by adding new elements, the result also save in a same list.
  - list1=[1,2,3]
  - list2=['a','b']
  - list1.append(list2)=[1,2,3,'a','b']

 
- concat will add two list, but the result will not update in a same list.
  - list1=[1,2,3]
  - list2=['a','b']
  - list1+list2=[1,2,3,'a','b']

## **iterator**

- whenever you'll listen iterator word then you need to recall loop 
  - iterator word ====== > loop
  - the elements we can print using for loop
  - string='python'    we can print each letter using for loop
  - list1=[1,2,3]      we can print each element using for loop

- second things will be come into your mind will be these data types.. strings, list, tuple, dictionary..
- integer will not iterate. float will not iterate. complex will not iterate.

In [52]:
val=reversed('python')  #Return a reverse iterator over the values of the given sequence.
val
#help(reversed)

In [48]:
for i in val:
    print(i)

n
o
h
t
y
p

In [74]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

**pop - remove - del**

In [76]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [78]:
list1.pop()

#help(list.pop)

'python'

In [80]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [111]:
list1
list1.pop(5)  # list1.pop(list1.index('t')) <---- this is soft coding practice.. you can also listcode like this.

# apply shift + tab inside the pop bracket and read it.

# inside bracket default argument is there -->  index=-1
# -1 means last value.
# if you not provide any value.
# it will remove last value.
# if i provide any index, it will remove that element.

# it is also returning, which element it is removing.

4

In [92]:
list1=[100,200,100,300]  # duplicates are allowed.
list1.remove(100)        # first occurence will gone.
list1                    # it will not return any value

[200, 100, 300]

In [94]:
del(list1)  # this will peremently deletes your list. AND DELETE IS KEYWORD NOT A METHOD.

In [88]:
list1

NameError: name 'list1' is not defined

In [98]:
list1=[100,200,100,300]
del list1[2]              # this will delete 2nd index value from list.
list1

[100, 200, 300]

- explore below methods..

  
   - index   vs   multiple values
     
   - insert  vs   append
     
   - reverse asending and desending ==== reversed
     
   - sort    ==== sorted
 
   - difference between reverse and sort
 
     
 
#get all the differences all the information

In [103]:
# try to avoid hard coding.. like this below
ls1=[1,2,3,5,2,7,2,3,4,7]
ls1.index(2,2,6)

4

In [109]:
list1=[1,2,3,4,2,4,3]   # do coding like this.
f_index=list1.index(2)
list1.index(2,f_index+1)

4

**zip**

- whenever you have 2 list is there you need to use the zip method to retrive the values.

In [132]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [144]:
list1=[100,200,300]
list2=[25,30,35]
'''
list3=[]
for i,j in zip(list1,list2):
    list3.append(i+j)
list3
'''

output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [ ]:
# take 5 questions in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every quetion should print
# answer=input("tell the answer")
# answer will check in list2 
# if it is there : marks=marks+1
# else: No marks

# how many write answers you made, how may answers you got

######################################
# list1=['Who is PM of india','What is the capital of india','Who is President of india']
# list2=['Modi','Delhi','Draupadi']
# marks=0
# correct_answr=0
# for i in range(len(list1)):
#   print('Q1:'<>)
#   answer=input("enter the answer")
#   if answer.lower()==list2.index(i):
#          marks+=1
#