In [ ]:
# i am modifying the code

In [3]:
list1=['Ram','Raheem','Robert']

list2=[25,30,35]

In [5]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

'Robert has age 35'

In [7]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [9]:
#{key:value}

In [11]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1

#keys= 'Ram','Raheem','Robert'
#values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [13]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

#keys: 25,30,35
#values: 'Ram','Raheem','Robert'

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [15]:
d3={'even':[2,4,6],
   'odd':[3,5,7]}

d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [17]:
d4={[2,4,6]:'even',
   [3,5,7]:'odd'}      # fail

TypeError: unhashable type: 'list'

In [19]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}

d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [21]:
# {'key':<{}>}
d5={'item_list':{'fruiits':'Apple'}}
d5

{'item_list': {'fruiits': 'Apple'}}

In [23]:
d6={{'fruiits':'Apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [25]:
a=[1,2]
b=(1,2)

In [27]:
a,b=[1,2]
c,d=(1,2)
d

2

In [29]:
a=1,2
a

(1, 2)

In [31]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [33]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key:value pair 

- at values postition you can take any data type

- at keys postion list and dictionary will fail

- Duplicates are not allowed

- If you will update a key value, latest value it will take

**type**

In [36]:
type(d1)

dict

- str

- list

- dict

- int

- float

- bool

- complex

- tuple

- set

In [39]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

max(d1)

# this maximum we are getting based on key or value

'Robert'

In [41]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':3}

max(d1)

'Robert'

- Maximum and minimum value based on key only

In [44]:
min(d1)

'Ram',     ord('m')
'Raheem',  ord('h')
'Robert'

'Robert'

In [46]:
len(d1)

3

In [48]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 3}

In [50]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
d2={100:'2',300:'4'}
sum(d2)

400

In [54]:
'a'*'b'

TypeError: can't multiply sequence by non-int of type 'str'

- type

- len

- max

- min

- sum

**in**

In [58]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}


#'Ram':25  in d1  #fail
    
'Ram'  in d1   # works

#25  in d1    # Fails

True

In [60]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [62]:
str1='apple'
'a' in str1

l1=[1,2,3]
1 in l1

for i in l1:
    print(i)

1
2
3

**index**

In [65]:
l1=[10,20,30,40]
l1[0]

str1='apple'
str1[0]

'a'

In [67]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1['Ram']

# can we get values using for loop

25

In [70]:
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [72]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [74]:
for key in range(len(d1)):
    print(key)
    #print("The age of {} is {}".format(key,d1[key]))  # possibile / not possible

0
1
2

**Creating a empty dictionary and update**

In [77]:
s=''

for i in 'apple':
    s=s+i
    
print(s)

apple

In [79]:
l=[i for i in range(10)]

l=[]
for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
d1={}
d1['fruite']='Apple'
d1

{'fruite': 'Apple'}

In [85]:
# wap create a database your own database.

db={}
db['name']='Dnyaneshwar'
db['last_name']='Rokade'
db['age']=25
db['city']='Akot'
db['state']='Maharashtra'
db['job']='Data Scientist'
db['education']='M.Com'
db['company']='Google'
db['salary']=410000
db['email']='dbrokade007@gmail.com'
db

{'name': 'Dnyaneshwar',
 'last_name': 'Rokade',
 'age': 25,
 'city': 'Akot',
 'state': 'Maharashtra',
 'job': 'Data Scientist',
 'education': 'M.Com',
 'company': 'Google',
 'salary': 410000,
 'email': 'dbrokade007@gmail.com'}

In [117]:
#wap create a dictionary based on two lists.

names=['Ram','Raheem','Robert']
ages=[25,30,35]

dt={}
for n,a in zip(names,ages):
    dt[n]=a
print(dt)

########################################################
dt1={names:ages for names,ages in zip(names,ages)}
dt1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [121]:
dt1={}
for i in range(len(names)):        # code like this.. and focus on coding like this. 
    dt1[names[i]]=ages[i]

#######################################################
dt1={names[i]:ages[i] for i in range(len(names))} # this is done using index opreations # dictionary comprehension 
dt1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [186]:
#WAP take 5 random numbers
# and create a dictionary with even and odd

# Output: {'even':[20,22],'odd':[19,21,23]}

# step-1: take empty dictionary
# step-2: take two even and odd list
# step-3: import random
# step-4: for i in range(5):
# step-5:     num=random.randint(a,b)
# step-6:     if <even>:
# step-7:        append the values in even list
# step-8:    else:
# step-9:        append the values in odd list
# step-10: create dictinary

import random
evenn=[]
oddd=[]
for i in range(5):
    num=random.randint(1,50)
    if num%2==0:
        evenn.append(num)
    else:
        oddd.append(num)
        
dict0={}
dict0['even']=evenn
dict0['odd']=oddd

print(dict0)

{'even': [36, 44], 'odd': [41, 33, 1]}

In [2]:
import os   #to know file path

In [4]:
os.getcwd() #cmd to know exact file path

'C:\\Users\\DBRok\\OneDrive\\D S N-IT'

In [6]:
dir({})

# str=''
# list=[]
# dict={}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [10]:
#items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [12]:
type(items)

dict_items

In [14]:
#keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [16]:
type(keys)

dict_keys

In [18]:
# values
values=d1.values()
values

dict_values([25, 30, 35])

In [20]:
type(values)

dict_values

In [22]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [24]:
values    # I want to convert into a list
values_list=list(values) # then you can apply list methods
values_list

[25, 30, 35]

In [26]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [28]:
# I will give the dictionary
# can you extract keys ans values in a list



# I will give two list  keys and values
# can you create a dictionary

In [30]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

keys=list(d1.keys())
values=list(d1.values())

In [32]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [34]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [36]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]   # d1[keys[0]]=values[0]   d1['Ram']=25
    
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [38]:
dict(zip(keys,values))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [40]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

# {'first_name':['virat','Rohit','KL'],
#   'second_name':['kohli','sharma','rahul'],
#   'company':['blr','mumbai','lucknow']}

In [42]:
s1.split(',')

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [44]:
str1='virat.kohli@blr.com'
d1={}
f_name=[str1[:str1.find('.')] for str1 in s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]
f_name,s_name,c_name

d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name

d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

In [46]:
s1='virat.kohli@blr.com,rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
l1=s1.split(',')
first_name=[]
second_name=[]
company=[]
d2={}
for i in l1:
    #print(i)
    first_name.append(i[0:i.find('.')])
    second_name.append(i[i.find('.')+1:i.find('@')])
    company.append(i[i.find('@')+1:i.find('.',i.find('.')+1)])
    
d2['first_name']=first_name
d2['second_name']=second_name
d2['company']=company
d2

{'first_name': ['virat', 'rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

**word-frequency**

In [49]:
str1='can can you canner can you able to can canner'

#{'can':4,'you':2,'canner':2,'able':1,'to':1}

# d={}
# step-1: split the str1 ======= > you will get a list
# step-2: iterate through loop ==== > each word will print
# step-3: list1.count(<word>): number
# step-4: make the dictionary

In [51]:
str1='can can you canner can you able to can canner.'
l1=str1.split(' ')  # step-1
d1={}

for i in l1:       # step-2
    d1[i]=l1.count(i) # step-3
    
    
d1

{'can': 4, 'you': 2, 'canner': 1, 'able': 1, 'to': 1, 'canner.': 1}

In [53]:
str1='can can you canner can you able to can canner.'
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner.']

In [55]:
keys=list(d1.keys())

In [57]:
values=list(d1.values())

In [59]:
keys,values

(['can', 'you', 'canner', 'able', 'to', 'canner.'], [4, 2, 1, 1, 1, 1])

In [61]:
i=max(values)

In [63]:
values.index(i)

0

In [65]:
keys[values.index(max(values))]

'can'

In [67]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

# o/p={'a':70,'b':130,'c':240}

In [69]:
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [73]:
d1 = {'a':20,'b':30,'c':40,'d':500}
d2 = {'a':50,'b':100,'c':200}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [77]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]    # d3['a']=d1['a']+d2['a']
        
d3
# which ever is max length iterate through that dictionary

{'a': 70, 'b': 130, 'c': 240}

In [79]:
for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
d1

{'a': 70, 'b': 130, 'c': 240}

In [81]:
d1 = {'a':20,'b':30,'c':40,'d':500}
d2 = {'a':50,'b':100,'c':200}
for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [ ]:
# strings /list/dictionary is important for Python Developer
# also imp for data scientist